.login{
  margin-top: 10px;
  
}
.post-title{
  margin-left: 10px;
  margin-bottom: -1px;
}
.form-input{
  width: 80%;
}
.form-send{
  margin-top: 10px;
  margin-left: 10px;
}
.title-log{
  margin-right: 10px;
}
textarea{
  width: 80%;
}
.logout{
  margin-left: 600px;
  margin-top: 10px;
}
img{
  width: 50px;
  height: 50px;
}
.usuario{
  font-size: 20px;
}
.name{
  font-size: 15px;
}
nav{
  margin: 1%;
  margin-top: 10px;
  padding: 10px;
  
}
.logout-title{
  margin-right: 10px;
}
.option{
  margin-top:3px;
}
p{
  margin-left: 10px;
}
.error{
    width: 200px;
    animation-duration: 1s;
    animation-name: slidein;
    animation-iteration-count: inherit;
    animation-direction: alternate;
    margin-left:85%;
  
}
@keyframes slidein {
  from {
    margin-left: 0%;
    width: 200px;
  }

  to {
    margin-left: 85%;
    width: 200px;
  }
}
